{% extends 'base.html.twig' %}

{% block title %}Hello VipController!{% endblock %}

{% block body %}
<hgroup>
    <h1>
        Les codes promos
    </h1>
    <h3>
        Espace VIP
    </h3>
    <article>
        <h2>
            lorem.xyz <mark>50 %</mark>
        </h2>
        <kbd>
            #456LKFIEN76
        </kbd>
    </article>
    <article>
        <h2>
            ipsum.xyz <mark>33 %</mark>
        </h2>
        <kbd>
            #908IUYTD34
        </kbd>
    </article>
</hgroup>
{% endblock %}
